<!-- About -->
   <section id="about" class="about">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                  <br><br>
                   <h2>FeatureQuest</h2>
                   <p class="lead">As active software users and developers, we came to notice pain points in the user feedback process from both sides. Current feedback methods are impersonal, non-engaging, and inefficient. We set out to build a platform to help both sides communicate better<br>for mutual benefit.</p>
                   <br><br>
               </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>

   <!-- Services -->
   <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
   <section id="services" class="services bg-primary">
       <div class="container">
           <div class="row text-center">
               <div class="col-lg-10 col-lg-offset-1">
                   <h2>Our Services</h2>
                   <hr class="small">
                   <div class="row">
                       <div class="col-md-6 col-sm-8">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-compass fa-stack-1x text-primary"></i>
                           </span>
                               <h3>
                                   <strong>Feature Requests</strong>
                               </h3>
                               <p>Users can share feature ideas and use the power of numbers to get those features built for them. Happy customers means a happy business.</p>
                               <h3><a href="/" class="btn btn-light">Learn More</a></h3>
                           </div>
                       </div>
                       <div class="col-md-6 col-sm-8">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-flask fa-stack-1x text-primary"></i>
                           </span>
                               <h3>
                                   <strong>Bug Fixes</strong>
                               </h3>
                               <p>Users post the bugs they run into and the developers can see which issues are affecting the most people to<br>know which to tackle first.</p>
                               <h3><a href="/" class="btn btn-light">Learn More</a></h3>
                           </div>
                       </div>
                   </div>
                   <!-- /.row (nested) -->
               </div>
               <!-- /.col-lg-10 -->
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>

   <!-- Footer -->
     <section id="footer">
       <div class="inner">
         <h2 class="major">Get in touch!</h2>
         <!-- <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
         <form method="post" action="#">
           <!-- <div class="field">
             <label for="name">Name</label>
             <input type="text" name="name" id="name" />
           </div> -->
           <br>
           <div class="field">
             {{!-- <label for="email">Email</label> --}}
             <input type="email" name="email" id="email" placeholder="you@email.com" />
           </div>
           <!-- <div class="field">
             <label for="message">Message</label>
             <textarea name="message" id="message" rows="4"></textarea>
           </div> -->
           <ul class="actions">
             <li><button type="submit">Send!</button></li>
           </ul>
           {{!-- <ul class="actions">
             <li><input type="submit" value="I'm a user" /></li>
           </ul> --}}
         </form>
         <!-- <ul class="contact">
           <li class="fa-home">
             Untitled Inc<br />
             1234 Somewhere Road Suite #2894<br />
             Nashville, TN 00000-0000
           </li>
           <li class="fa-phone">(000) 000-0000</li>
           <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
           <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
           <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
           <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
         </ul> -->
         <ul class="copyright">
           <li>&copy; FeatureQuest -- <a href="http://goldmanmichael.com">Michael</a>, <a href="http://devpost.com/jjman505">Jeremy</a>, &amp; <a href="https://www.linkedin.com/in/shaquille-johnson-9a30058a">Shaquille</a>. &nbsp;All rights reserved.</li><li>Template by <a href="http://html5up.net">HTML5 UP</a></li>
         </ul>
       </div>
     </section>
