<!-- About -->
   <section id="about" class="about">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2><br><br><br>FeatureQuest<br><br></h2>
                   <p class="lead">Traditionally, user feedback has been done through forums or text boxes. This is inefficient for companies and impersonal for users. With these methods, even the top tech companies waste man-hours on manually sifting through feedback, largely due to duplicate requests. Stop wasting time on duplicates with Featurequest. As the user types their request, we filter the list to help them find similar requests to upvote. Top voted items will show at the top, allowing teams to see clearly what users want while users are engaged and empowered.<br><br></p>
               </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>

   <!-- Services -->
   <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
   <section id="services" class="services bg-primary">
       <div class="container">
           <div class="row text-center">
               <div class="col-lg-10 col-lg-offset-1">
                   <h2>Our Services</h2>
                   <hr class="small">
                   <div class="row">
                       <div class="col-md-3 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-compass fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Feature Request</strong>
                               </h4>
                               <p>Ask for companies to implement certain features and allow other users to upvote this based on interest.</p>
                               <a href="/featurequest" class="btn btn-light">Learn More</a>
                           </div>
                       </div>
                       <div class="col-md-4 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-flask fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Bug Fixes</strong>
                               </h4>
                               <p>Notify companies what bugs you want to be fixed. Other uses can see this and vote it up or down.</p>
                               <a href="/featurequest" class="btn btn-light">Learn More</a>
                           </div>
                       </div>
                   </div>
                   <!-- /.row (nested) -->
               </div>
               <!-- /.col-lg-10 -->
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>

   <!-- Footer -->
     <section id="footer">
       <div class="inner">
         <h2 class="major">Get updates!</h2>
         <!-- <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
         <form method="post" action="#">
           <!-- <div class="field">
             <label for="name">Name</label>
             <input type="text" name="name" id="name" />
           </div> -->
           <br>
           <div class="field">
             {{!-- <label for="email">Email</label> --}}
             <input type="email" name="email" id="email" placeholder="you@email.com" />
           </div>
           <!-- <div class="field">
             <label for="message">Message</label>
             <textarea name="message" id="message" rows="4"></textarea>
           </div> -->
           <ul class="actions">
             <li><button type="submit">Sign up!</button></li>
           </ul>
           {{!-- <ul class="actions">
             <li><input type="submit" value="I'm a user" /></li>
           </ul> --}}
         </form>
         <!-- <ul class="contact">
           <li class="fa-home">
             Untitled Inc<br />
             1234 Somewhere Road Suite #2894<br />
             Nashville, TN 00000-0000
           </li>
           <li class="fa-phone">(000) 000-0000</li>
           <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
           <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
           <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
           <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
         </ul> -->
         <ul class="copyright">
           <li>&copy; Featurequest. All rights reserved.</li><li>Template by <a href="http://html5up.net">HTML5 UP</a></li>
         </ul>
       </div>
     </section>
