
<!-- Page Wrapper -->
  <div id="page-wrapper">

    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <div class="logo"><span class="icon fa-comments"></span></div>
          <h2>FeatureQuest</h2>
          <p>It's about time user feedback got an upgrade.
          </p>
          <form id="email-form" method="post" action="http://formspree.io/michael@dunmoapp.com">
            <!-- <div class="field">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div> -->
            <div class="field">
              {{!-- <label for="email">Email</label> --}}
              
              <input type="email" name="email" id="email-input" placeholder="you@email.com" />
              <button type="submit" id="email-submit">Sign up!</button>
            </div>

            <!-- <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div> -->
            {{!-- <ul class="actions"> --}}
              {{!-- <li><button type="submit">Get updates!</button></li> --}}
              
            {{!-- </ul> --}}
            {{!-- <ul class="actions">
              <li><input type="submit" value="I'm a user" /></li>
            </ul> --}}
          </form>

          <script>
            function showEmailField(){
              if ( $('form#email-form').css('display') === "none" )
                $('form#email-form').css('display', 'inline');
              else
                $('form#email-form').css('display', 'none')
            }
          </script>

          <button onclick="showEmailField();" id="email-display">Get updates!</button>
          <a href="/products" class="button" id="try">Try the beta!</a>

          <a href="#one" class="control">
            <div id="down">
              Learn more
              <br>
              <i class="fa fa-chevron-down"></i>
            </div>
          </a>
        </div>
      </section>

    <!-- Wrapper -->
      <section id="wrapper">

        <!-- One -->
          <section id="one" class="wrapper spotlight style1">
            <div class="inner">
              {{!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> --}}
              <div class="content">
                <h2 class="major">What is FeatureQuest?</h2>
                <p>User feedback has traditionally been done through forums or text boxes. This is often impersonal for users. User feedback should strengthen customer relationships and drive engagement. We're building a platform in which users can collaborate on feature and bug fix requests. FeatureQuest brings the product creators into the mix to be part of the conversation.</p>
                <!-- <a href="#" class="special">Learn more</a> -->
              </div>
            </div>
          </section>

        <!-- Two -->
          <section id="two" class="wrapper alt style2">
            <div class="inner">
              {{!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a> --}}
              <div class="content">
                <h2 class="major">How does it work?</h2>
                <p>FeatureQuest is a Reddit-like platform built specifically for user feedback. Each app or product has its own feedback page where users can post feature and bug-fix requests. As users type a request, we filter the list below to help them find similar requests to upvote. The community can upvote, downvote, and comment on each item. Product developers can take part in the discussion and mark items as "In Progress" and "Done". This allows developers to show they value user feedback.</p>
                <!-- <a href="#" class="special">Learn more</a> -->
              </div>
            </div>
          </section>

        <!-- Three -->
          <section id="three" class="wrapper spotlight style3">
            <div class="inner">
              {{!-- <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a> --}}
              <div class="content">
                <h2 class="major">For Users</h2>
                <p>Some products you really like are missing that one feature you need, or have an annoying bug. Submitting feedback can feel useless and impersonal. You don't know what other people are thinking and you don't know if your request is being answered. FeatureQuest puts you in direct communication with the product team. Be the first to know when what you asked for is in progress or completed.</p>
                <!-- <a href="#" class="special">Learn more</a> -->
              </div>
            </div>
          </section>

        <!-- Four -->
          <section id="four" class="wrapper alt style1">
            <div class="inner">
              <div class="content">
                <h2 class="major">For Product Teams</h2>
                <p>Your customers are the lifeblood of your business, so their feedback is crucial. Your feedback process should be efficient and personal. You're likely wasting man-hours sifting through duplicate feedback. Stop wasting time on duplicates with FeatureQuest. Top voted items will show at the top. With prioritized requests and fewer duplicates, your business can move faster. Help your users feel valued by letting them know when you're building what they asked for. Meanwhile, keep your users engaged in community discussion around your product.</p>
                <!-- <a href="#" class="special">Learn more</a> -->
              </div>
              {{!-- <section class="features">
                <article>
                  <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
                  <h3 class="major">Sed feugiat lorem</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                  <a href="#" class="special">Learn more</a>
                </article>
                <article>
                  <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
                  <h3 class="major">Nisl placerat</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                  <a href="#" class="special">Learn more</a>
                </article>
                <article>
                  <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
                  <h3 class="major">Ante fermentum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                  <a href="#" class="special">Learn more</a>
                </article>
                <article>
                  <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                  <h3 class="major">Fusce consequat</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
                  <a href="#" class="special">Learn more</a>
                </article>
              </section>
              <ul class="actions">
                <li><a href="#" class="button">Browse All</a></li>
              </ul> --}}
            </div>
          </section>

      </section>

    <!-- Footer -->
      <section id="footer">
        <div class="inner">
          <h2 class="major">Get new feature updates &amp; find out when we launch!</h2>
          <!-- <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p> -->
          <form method="post" action="http://formspree.io/michael@dunmoapp.com">
            <!-- <div class="field">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div> -->
            <br>
            <div class="field">
              {{!-- <label for="email">Email</label> --}}
              <input type="email" name="email" id="email" placeholder="you@email.com" />
            </div>
            <!-- <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div> -->
            <ul class="actions">
              <li><button type="submit">Get updates!</button></li>
            </ul>
            {{!-- <ul class="actions">
              <li><input type="submit" value="I'm a user" /></li>
            </ul> --}}
          </form>
          <!-- <ul class="contact">
            <li class="fa-home">
              Untitled Inc<br />
              1234 Somewhere Road Suite #2894<br />
              Nashville, TN 00000-0000
            </li>
            <li class="fa-phone">(000) 000-0000</li>
            <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
            <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
            <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
            <li class="fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
          </ul> -->
          <ul class="copyright">
            <li>&copy; FeatureQuest -- <a href="http://goldmanmichael.com">Michael</a>, <a href="http://devpost.com/jjman505">Jeremy</a>, &amp; <a href="https://www.linkedin.com/in/shaquille-johnson-9a30058a">Shaquille</a>. &nbsp;All rights reserved.</li><li>Template by <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </section>

  </div>

  
