
<div class="container new-product">
  <div class="header-box">
    <h1>Create a New Product Page</h1>
    <p> What awesome product do you want to get feedback for? </p>
    <p id="notice" class="danger" style="display: none;"> All fields are required. </p>
    <form id="new-product-form" role="form" class="new-product-form">
      <div class="form-group">
        <label for="product-name">Product Name</label>
        <input placeholder="My Awesome Product" type="text" class="form-control" id="product-name" autofocus>
      </div>
      <div class="form-group">
        <label for="product-desc">Product Description</label>
        <textarea class="form-control" id="product-desc" autofocus></textarea>
      </div>
      <div class="form-group">
        <label for="company-name">Company Name</label>
        <input placeholder="My Awesome Company" type="text" class="form-control" id="company-name" autofocus>
      </div>
      <div class="form-group">
        <label for="company-desc">Company Description</label>
        <textarea class="form-control" id="company-desc" autofocus></textarea>
      </div>
      <div class="form-group">
        <button id="submit">Create Product Page</button>
      </div>
    </form>
    <br>
  </div>
</div>
