<!-- Page Content -->
<div class="container quest-list">
  <div class="row">
    <h1>Feature Quest</h1>
    <p>Note: You may be amazed by our product.</p>
  </div>
  <div class="row">
    <form role="form">
      <div class="form-group">
        <label for="usr">Request for product:</label>
        <input type="text" class="form-control" id="comment">
      </div>
    </form>
  </div>
  <hr>
  <ul class="quests">
    <li class="quest">
      <span class="leader">
        <div class="btn-upvote"><i class="fa fa-chevron-up"></i></div>
        <div class="quest-score"> 5 </div>
        <div class="btn-downvote"><i class="fa fa-chevron-down"></i></div>
      </span>
      <div class="title-outer">
        <div class="title">
          Show which features are in progress
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- /.container -->

<script type="text/javascript">
  function ListItem (o) {
    return '';
  }

  var FeatureQuest = new Firebase("https://featurequest.firebaseio.com/");
  FeatureQuest.child("quests").on("value", function(snap) {
    var quests = snap.val();
    console.log(quests);
  });
</script>
