<div class="container">
  <div class="header-box">
    <h1 class="pull-left">Product Listing</h1>
    <button onclick="location.href='/new-product';" class="pull-right" id="submit">Create a New Product Page</button>
    <br class="clearfix">
  </div>
  <hr>
  <ul class="products">
    <li class="product">
      <div class="title-outer">
        <div class="title">
          Loading Products...
        </div>
      </div>
    </li>
  </ul>
</div>
